* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #666;
}

div {
    height: calc(100vh - 100px);
    width: 50%;
    margin: 0px auto;
    padding: 50px;
    background-color: #333;
    color: #CCC;
    text-align: left;
}

h1 {
    text-align: center;
}